.criarSenha{
   font-family: verdana;
   border-radius: 20px;
   margin: 10px;
   font-size: medium;
   text-align: center;
   margin-top: 10px;
   

}
.borda{
    border-radius: 2px;
    border-style: solid;
    width: 60%;
    align-items: center;
    margin: 30%;
    margin-top: 2%;
    align-items: center;
    text-align: center;
}
.Email{
    font-family: verdana;
    font-size: 20px;
    text-align: center;
    margin-top: 100px;
    background-color: rgb(247, 221, 247);
    color: rgb(77, 75, 75);
    
}
.seu{
    font-family: verdana;
    border-radius: 20px;
    margin: 10px;
    font-size: medium;
    padding: 20px;
    margin-top: 90px;
    position: relative;
    background-color: rgb(255, 252, 249);
   
}
body{
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgb(247, 221, 247);
}

h1{
  text-align: center;
  font-family: georgia;
}

